@model IEnumerable<promoTalk.Models.state>
        
<table class="table">
    <thead><tr>
    <th><img src="~/images/arrow.jpg" width="27" height="34"></th>

    <th>
        @Html.DisplayNameFor(model => model.StateName)
    </th>

    <th></th>
</tr>
    </thead>
    @{
        var a = Model.Count();

    }
    <tbody>
        @if (a == 0)
        {
            <tr>
                <td colspan="3">
                    No Result Found
                </td>
            </tr>
        }



        @{    int i = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(i += 1)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>

                <td>
                    <a href="@Url.Action("Edit", "states", new { id = item.StateID})"><i class="glyphicon glyphicon-pencil"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
