@model IEnumerable < promoTalk.Models.marketing >
@{
    ViewBag.Title = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content news">
    <div class="container">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="#"><img src='@item.seo_OGImage' alt="" /></a>
                    <a href="#"><span class="news-cat">CRA Insights</span></a>
                    <a href="#"><h3 class="news-title">@Html.DisplayFor(modelItem => item.title)</h3></a>
                    <p>@Html.Raw((item.description.Length > 150 ? item.description.Substring(0, 150) : item.description))</p>
                       @Html.ActionLink("Read More", "Description", new {category= "Marketing", id = item.marketingID })
                </li>
            }
        </ul>
    </div>
</div>

