
@{
    ViewBag.Title = "artwork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="entry-header">

    <div class="title_border">
        <h2>Promo  Artwork</h2>
    </div>
</header>

